
# autotools directories:
/tmp*/
!/tmpfiles.d/
/autom4te.cache/
/config/
/m4/
/eix-*/
/builddir*/

# autotools/doxygen files:
/ABOUT-NLS
/aclocal.m4
/confdefs.h
/config.h
/config.log
/config.rpath
/config.status
/configure
/conftest*
/doxygen.cfg
/stamp-h1
/a.out

# Special directories:

/doc/eix-*.html
/doc/eix-*.txt
/doc/eix-*.xsd

/manpage/*-eix.1

/po/*
!/po/meson.build
!/po/LINGUAS
!/po/Makevars
!/po/Rules-*
/po/Rules-quot
!/po/my-*
!/po/*.po
/po/en@*.po

/src/versionsort
/src/masked-packages
/src/eix
/src/eix-*
!/src/eix-*.*
/src/eix-functions.sh

/src/eixrc/eixrc
/src/eixrc/00-eixrc
/src/cache/cache_map.cc

!/zsh/_eix*.*
/zsh/_eix

# General patterns are last:
!*.in
!*Makefile.am
*.dirstamp
*.exe
*.o
*.o-*
*.o.*
*.obj
*Makefile
*Makefile.in
*Makefile.in.in
*tags
*~
*.tar
*.tar.?
*.tar.??
*.tar.???
