
# autotools directories:
/autom4te.cache/
/config/
/m4/

# autotools/doxygen files:
/ABOUT-NLS
/aclocal.m4
/config.h
/config.log
/config.status
/configure
/doxygen.cfg
/stamp-h1

# Special directories:

/doc/eix-*.html
/doc/eix-*.txt
/doc/eix-*.xsd

/manpage/*-eix.1

/po/*
!/po/LINGUAS
!/po/Makevars
!/po/Rules-*
/po/Rules-quot
!/po/my-*
!/po/*.po
/po/en@*.po

/src/versionsort
/src/masked-packages
/src/eix
/src/eix-*
!/src/eix-*.*
/src/eix-*.sh
/src/functions-eix.sh

/src/eixrc/eixrc
/src/cache/cache_map.cc

/zsh/_eix*
!/zsh/_eix*.*

# General patterns are last:
!*.in
!*Makefile.am
*.dirstamp
*.exe
*.o
*.obj
*Makefile
*Makefile.in
*Makefile.in.in
*tags
*~
*.tar
*.tar.?
*.tar.??
*.tar.???
